body {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

.content img {
	margin: 0 auto;
}

.content input {
	border-color: #7a5d27;
	border-radius: 0;
}

.content .Button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	background-color: #4d3a67;
	border-radius: 0;
}

.content .answer {
	position: absolute;
	top: 120px;
	left: -1600px;
	margin: 0;
	padding: 20px;
	width: 762px;
	height: 175px;
	color: #000;
	font-family: 'Upheaval TT (BRK)';
	font-size: 50px;
	line-height: 40px;
	transition: 0ms;
	opacity: 0;
	text-align: center;
}

.content .answer._active {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	transition: 200ms;
}

.content .answer span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 20px;
	width: 100%;
}

._shake {
	animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
	pointer-events: none;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

@media only screen and (max-width: 1200px) {
	.content {
		width: 90%;	
	}
}

@media only screen and (max-width: 780px) {
	.content .answer {
		top: 280px;
		zoom: 40%;
	}
}